@font-face {
  font-family: 'Canela';
  src: url('/CanelaText-Thin-Trial.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

body{
  background-color: #F6F1EB;
  font-family: 'sora', serif;
  padding: 30px;
  color: #010101;
}
.nav{
  display: flex;
  gap: 80%;
  padding-left: 40px;
}
.links{
  display: flex;
  gap: 20%;
}
a{
  text-decoration: none;
  color: #010101;
  font-size: 18px;
}
.home {
  display: flex;
  flex-direction: column;
  height: 80vh;
}
.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 14px 28px;
  background-color: #fff;  
  color: #000;
  border-radius: 50px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.circle {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #000; 
  border-radius: 50%;
  left: 14px;
  z-index: -1;
  transform-origin: center;
}

.title p {
  margin: 0;
  letter-spacing: 0.8px;
  transition: color 0.3s ease;
  z-index: 2;
}

.size {
  width: 24px;
  height: 24px;
  z-index: 2;
}

.home h1:nth-child(1) {
  font-family: 'Canela', serif;
  font-weight: 300; 
  font-size: 220px;
  align-self: flex-start;
  position: relative;
  top: -170px;
  height: max-content;
}
.home h1:nth-child(2) {
  font-family: 'Canela', sans-serif;
  font-weight: 300; 
  font-size: 220px;
  align-self: flex-end;
  position: relative;
  top: -570px;
  left: -30px;
  height: max-content;
}
.hero-text{
  font-size: 22px;
  width: 50%;
  position: relative;
  font-weight: lighter;
  top: -950px;
  left: 55px;
}
::view-transition {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

::view-transition-group(root) {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

::view-transition-image-pair(root) {
  position: absolute;
  width: 100%;
  height: 100%;
  isolation: isolate;
}

::view-transition-old(root) {
  z-index: 1000;
  object-fit: cover;
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-new(root) {
  z-index: 1;
  animation: none;
  transform: translateY(0);
  will-change: transform;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}